{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Lehenga{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'lehenga' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    All Lehenga
                </a>
                <a href="{% url 'lehengaitem' 'lubnan' %}" class="list-group-item list-group-item-action">Lubnan</a>
                <a href="{% url 'lehengaitem' 'infinity' %}" class="list-group-item list-group-item-action">Infinity</a>
                <a href="{% url 'lehengaitem' 'Indian' %}" class="list-group-item list-group-item-action">Indian</a>
                <a href="{% url 'lehengaitem' 'above' %}" class="list-group-item list-group-item-action">Above 20000</a>
                <a href="{% url 'lehengaitem' 'below' %}" class="list-group-item list-group-item-action">Below 20000</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                {% for product in lehengas %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' product.id %}" class="btn">
                        <div class="item">
                            <img src="{{product.product_image.url}}" alt="" height="300" class="">
                            <div class="fw-bold">{{product.title}}</div>
                            <div class="fw-bold">Tk. {{product.discounted_price}} <small
                                    class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}